* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding-inline: 2em;
}

.nav-toggle {
  display: none;
}

.primary-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;

  font-size: 1.2em;
  list-style-type: none;
}

.primary-navigation li a {
  color: #00001a;
  text-decoration: none;
}

@media (max-width: 40em) {
  .primary-navigation {
    position: absolute;
    top: 0;
    right: 0;
    background-color: steelblue;
    flex-direction: column;
    padding: min(30vh, 10rem) 7rem;
    transform: translateX(0%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="false"] {
  transform: translateX(100%);
}

  .nav-toggle {
    display: block;
    position: absolute;
    width: 2rem;
    inset: 3.5% 0 0 87%;
    aspect-ratio: 1;

    background: url(images/icon-menu.svg);
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;

    z-index: 999;
  }

  .nav-toggle[aria-expanded="true"] {
    background: url(images/icon-menu-close.svg);
  }
}
